<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/styleUm.css">
    <link rel="stylesheet" href="/static/home.css">
    <script src="relatorio.js"></script>
</head>
<body>
    
    <nav>
        <ul>
            <a href="/templates/relatorio.html"><img class="logo" src="/static/png/unnamed.png" alt="Logo"></a>
            <li>
                <a href="#">Categoria ▾</a>
                <ul class="dropdown">
                    <li><a href="">A</a></li>
                    <li><a href="">B</a></li>
                    <li><a href="">C</a></li>
                </ul>
            </li>
            <li><a href="#">Top da Semana</a></li>
            <li><a href="#">Mais Vendidos</a></li>
            <li>
                <a href="#">Funcionário ▾</a>
                <ul class="dropdown">
                    <li><a href="/templates/justificativa.html">Justificativa</a></li>
                    <li><a href="/templates/relatorio.html">Relatório</a></li>
                    <li><a href="/templates/saidaPonto.html">Bater Saida</a></li>
                </ul>
            </li>

            <a href="/templates/entradaPonto.html"><img class="perfil" src="/static/png/perfil.png" alt="Perfil"></a>
        </ul>
    </nav>

    <div class="container">
    <h2>Bem vindo a pagina de entrada do nosso site</h2>
    </div>

    <footer>

        <br>
        <a class="outros" href="">CONTATO</a>
        <a class="outros" href="">TRABALHE CONOSCO</a>
        <a class="outros" href="">TERMOS E CONDIÇÃO</a>

        <div class="dire">

            <br>
            <p class="direitos">©Todos os Direitos Reservados</p>
        </div>

        <a class="outros" href="">PRIVACIDADE</a>
        <a class="outros" href="">SOBRE NÓS</a>
        <a class="outros" href="">OUTROS COMÉRCIOS</a>

    </footer>
</body>
</html>