<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Justificativa de Atraso</title>
    <link rel="stylesheet" href="/static/justificativa.css">
</head>
<body>
    <button class="logout">Logout</button>

    <div class="container">
        <h2>Você está atrasado!</h2>
        <h3 class="alerta">Justifique!</h3>
        <div id="texto">
        <textarea minlength=20  maxlength=255 placeholder="Digite sua justificativa aqui..." value=""></textarea>
        </div>
        <button class="enviar">Enviar</button>
    </div>
</body>
</html>
