<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/relatorio.css">
</head>
<body>

    <div class="container">
    <h2>Relatório de Ponto</h2>

    <h3>Registros:</h3>
    <table class="tabela">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Horário</th>
        </tr>
        </thead>
        
        <tbody>
            {% for r in registros %}
        <tr>
            <td>
                {{ r.id }}
            </td>
            <td>
                {{ r.nome }} 
            </td>
            <td>
                {{ r.hora.strftime('%d/%m/%Y %H:%M:%S') }} 
            </td>
        </tr>
            {% endfor %}
        </tbody>

    </table>

    <br>

    <form method="POST">
        <input type="button" class="botaoRecarregar" value="Recarregar" onClick="window.location.reload()">
    </form>

    </div>
</body>
</html>