<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/relatorio.css">
    <script src="relatorio.js"></script>
</head>
<body>

    <div class="container">
    <h2>Relatório de Ponto</h2>

    <h3>Registros:</h3>
    <div id="tabelaFlex">
    <div id="visivelEntrada">
    <table class="tabelaEntrada">
        <h4>Tabela Horário de Entrada</h4>
        <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Horário</th>
        </tr>
        </thead>
        
        <tbody>
            {% for rEntrada in registrosEntrada %}
        <tr>
            <td>
                {{ rEntrada.id }}
            </td>
            <td>
                {{ rEntrada.nome }} 
            </td>
            <td>
                {{ rEntrada.hora.strftime('%d/%m/%Y %H:%M:%S') }} 
            </td>
        </tr>
            {% endfor %}
        </tbody>

    </table>

</div>
<div id="visivelSaida">
    <table class="tabelaSaida">
        <h4>Tabela Horário de Saida</h4>
        <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Horário</th>
        </tr>
        </thead>
        
        <tbody>
            {% for rSaida in registrosSaida %}
        <tr>
            <td>
                {{ rSaida.id }}
            </td>
            <td>
                {{ rSaida.nome }} 
            </td>
            <td>
                {{ rSaida.hora.strftime('%d/%m/%Y %H:%M:%S') }} 
            </td>
        </tr>
            {% endfor %}
        </tbody>

    </table>

    </div>
    </div>
    <br>

    <form method="POST">
        <input type="button" class="botaoRecarregar" value="Recarregar" onClick="window.location.reload()">
    </form>

    <button onclick="botaoEntrada()">Alternar Tabela Entrada</button>
    <button onclick="botaoSaida()">Alternar Tabela Saida</button>

    </div>
</body>
</html>